MONGODB_URI=mongodb+srv://<db_username>:<db_password>@<cluster-name>.mongodb.net/simple_task_manager?retryWrites=true&w=majority&appName=<app-name>
AUTH_SECRET=replace-this-with-a-long-random-secret
PORT=3000
HOST=127.0.0.1
